nav {
  background-color: #475783;
  display: flex;
  position: relative;
}

nav li {
  display: inline;
  margin: 10px;
}

nav ul {
  display: flex;
  margin-right: 40px;
}

.right {
  position: absolute;
  right: 0;
}
